body {
  overflow-x: hidden;
  font-family: 'Varela Round', sans-serif;
}
.top {
  position: absolute;
  width: 100%;
  z-index: 100;
}
.top ul {
  float: right;
  padding-top: 10px;
}
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}
@keyframes slideInLeft {
    from    { transform:translateX(0); }
    to      { transform: translateX(-100%); }
}
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 1s ease;
  -webkit-transition:all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}
.page.ng-enter {
    animation: slideInRight .5s both ease-in;
}
.page.ng-leave {
    animation: slideInLeft .5s both ease-in;
}

.navbar-deciframe {
  background: none;
  border: none;
}
.navbar-brand > svg {
  width: 200px;
}
.st0 { fill:rgba(244, 234, 242, 0.5); }
.vertical-img-wrapper {
  line-height: 500px;
}
@media (min-width: 768px) {
  .viewWindow-panel {
    height: 100vh;
  }
}
.viewWindow-panel-A { background:#E9BC00; }
.viewWindow-panel-B { background:#671958; color: #FFFFFF }
.viewWindow-panel-C { background:#FFFFFF; }
.viewWindow-panel-main-container  {
  padding: 150px 50px;
}
.viewWindow-panel-container {
  padding-top: 70px;
  padding-bottom: 70px;
}
a:link,
a:visited {
  color: #fff;
}
a.btn-link-theme:link,
a.btn-link-theme:visited, {
  text-decoration: none;
}

/* Bootstrap overhide */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background: none;
  color: #FFF;
  text-shadow: 2px 2px 1px #000;
}
.navbar-default .navbar-nav>li>a {
  color: #FFF;
}
