<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-4 viewWindow-panel viewWindow-panel-B" style="height: 100vh;">
      <div class="viewWindow-panel-container">
        <h4>Procure por músicas que você já sabe tocar</h4>
        <form name="searchForm" novalidate>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Pesquisar..."
              ng-model="minhaMusica"
              uib-typeahead="musica as musica.nome_musica+' ('+musica.nome_artista+')' for musica in Musica.getMusicas($viewValue)"
              typeahead-min-length="6"
              typeahead-on-select="Musica.pesquisarPorMusica(minhaMusica)"
              typeahead-loading="loadingLocations"
              typeahead-no-results="noResults"
              typeahead-wait-ms="1000">
          </div>
          <p ng-show="loadingLocations"><span class="glyphicon glyphicon-refresh animated infinite rotateIn"></span></p>
          <div ng-show="noResults">
            <i class="glyphicon glyphicon-remove"></i> Nenhuma música encontrada
          </div>
        </form>
      </div>
    </div>
    <div id="results" class="col-sm-6 col-md-8 viewWindow-panel viewWindow-panel-D">
      <div class="viewWindow-panel-container">
        <div ng-show="Musica.minhaMusica.id_unico_musica">
          <h4>{{Musica.esfigeSpeech}}</h4>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <select
                  class="form-control form-control-inverse input-lg"
                  ng-options="genero for genero in Musica.generos | orderBy:'genero'"
                  ng-model="Musica.meuGenero"
                  ng-change="Musica.pesquisarPorMusica()">
                  <option value="">-- Gênero --</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="row row-in">
          <div class="col-sm-6 col-lg-4" ng-show="Musica.minhaMusica.id_unico_musica">

              <div class="music-card music-card-highlight" ng-click="Musica.goToLirics(Musica.minhaMusica)">
                <div class="row row-in">
                  <div class="col-xs-2 text-center">
                    <div class="music-lock"><span class="icon-lg icon-lock-open"></span></div>
                  </div>
                  <div class="col-xs-10">
                    <p class="music-title">{{Musica.minhaMusica.nome_musica}}</p>
                    <p class="music-artist">{{Musica.minhaMusica.nome_artista}}</p>
                    <p class="music-gender"><span class="label label-default">{{Musica.minhaMusica.genero}}</span></p>
                  </div>
                </div>
              </div>

          </div>
          <div class="col-sm-6 col-lg-4"
            ng-repeat="music in Musica.musics | orderBy:'-popularidade'"
            ng-hide="music.diferenca.length">

              <div class="music-card" ng-click="Musica.goToLirics(music)">
                <div class="row row-in">
                  <div class="col-xs-2 text-center">
                    <div class="music-lock"><span class="icon-lg icon-lock-open"></span></div>
                  </div>
                  <div class="col-xs-10">
                    <p class="music-title">{{music.nome_musica}}</p>
                    <p class="music-artist">{{music.nome_artista}}</p>
                    <p class="music-gender"><span class="label label-default">{{music.genero}}</span></p>
                  </div>
                </div>
              </div>

          </div>
        </div>

        <hr class="music-separator" ng-show="Musica.musics.length">
        <h4 ng-show="Musica.musics.length">Aprenda mais alguns acordes para tocar:</h4>

        <div class="row row-in">
          <div class="col-sm-6 col-lg-4"
            ng-repeat="music in Musica.musics | orderBy:'-popularidade'"
            ng-show="music.diferenca.length">
            <div class="music-card" ng-click="Musica.goToLirics(music)">
              <div class="row row-in">
                <div class="col-xs-2 text-center">
                  <div class="music-lock"><span class="icon-lg icon-lock"></span></div>
                </div>
                <div class="col-xs-10">
                  <p class="music-title">{{music.nome_musica}}</p>
                  <p class="music-artist">{{music.nome_artista}}</p>
                  <p class="music-gender"><span class="label label-default">{{music.genero}}</span></p>
                </div>
              </div>
              <div class="music-card-footer">
                <div class="row row-in">
                  <div class="col-xs-2 text-center">
                    <div class="music-lock"><span class="icon-lg icon-key"></span></div>
                  </div>
                  <div class="col-xs-10 music-lock">
                    <df-hex acorde="{{chord}}" acorde-color="#777777" acorde-checked="false" small="true" ng-repeat="chord in music.diferenca"></df-hex>
                    <br style="clear: both;">
                  </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
</div>
