<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-4 viewWindow-panel viewWindow-panel-A">
      <div class="viewWindow-panel-container">
        <h4 class="text-center">Aponte os acordes que você já domina</h4>
        <div class="acordes-container" ng-repeat='acordesCollection in Chords.acordes'>
          <df-hex acorde="{{acordeon.acorde}}" acorde-color="{{acordeon.cor}}" acorde-checked="Chords.temAcorde(acordeon)" ng-repeat="acordeon in acordesCollection" ng-click="Chords.addAcorde(acordeon)"></df-hex>
        </div>
        <br style="clear: both;">
        <br><br>
        <p><a href="#/" class="btn btn-link"><span class="glyphicon glyphicon-menu-left"></span> Voltar</a></p>
      </div>
    </div>
    <div class="col-sm-6 col-md-8 viewWindow-panel viewWindow-panel-D">
      <div class="viewWindow-panel-container">
        <h4>{{Chords.esfigeSpeech}}</h4>
        <df-hex acorde="{{acordeon.acorde}}" acorde-color="{{acordeon.cor}}" ng-repeat="acordeon in Chords.meusAcordes" ng-click="Chords.addAcorde(acordeon)"></df-hex>
        <br style="clear: both;"><br>

        <div class="row row-in">
          <div class="col-sm-6 col-lg-4"
            ng-repeat="music in Chords.musics"
            ng-hide="music.diferenca.length">

              <div class="music-card" ng-click="Chords.goToLirics(music)">
                <div class="row row-in">
                  <div class="col-xs-2 text-center">
                    <div class="music-lock"><span class="glyphicon glyphicon-lock"></span></div>
                  </div>
                  <div class="col-xs-10">
                    <p class="music-title">{{music.nome_musica}}</p>
                    <p class="music-artist">{{music.nome_artista}}</p>
                    <p class="music-gender"><span class="label label-default">{{music.genero}}</span></p>
                  </div>
                </div>
              </div>

          </div>
        </div>

        <hr class="music-separator" ng-show="Chords.musics.length">
        <h4 ng-show="Chords.musics.length">Aprenda mais alguns acordes para tocar:</h4>

        <div class="row row-in">
          <div class="col-sm-6 col-lg-4"
            ng-repeat="music in Chords.musics"
            ng-show="music.diferenca.length">
            <div class="music-card">
              <div class="row row-in">
                <div class="col-xs-2 text-center">
                  <div class="music-lock"><span class="glyphicon glyphicon-lock"></span></div>
                </div>
                <div class="col-xs-10">
                  <p class="music-title">{{music.nome_musica}}</p>
                  <p class="music-artist">{{music.nome_artista}}</p>
                  <p class="music-gender"><span class="label label-default">{{music.genero}}</span></p>
                </div>
              </div>
              <div class="music-card-footer">
                <div class="row row-in">
                  <div class="col-xs-2 text-center">
                    <div class="music-lock"><span class="glyphicon glyphicon-lock"></span></div>
                  </div>
                  <div class="col-xs-10">
                    <df-hex acorde="{{chord}}" acorde-color="'#7D7A7D'" ng-repeat="chord in music.diferenca"></df-hex>
                    <br style="clear: both;">
                  </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
