<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 viewWindow-panel viewWindow-panel-E">
      <div class="viewWindow-panel-main-container">
        <img src="assets/img/logo.png" alt="Decifra-me" width="100%">
      </div>
    </div>
    <div class="col-sm-6 viewWindow-panel viewWindow-panel-F">
      <div class="viewWindow-panel-sub-container text-center">
        <a href="#/poracordes" class="btn-link-theme btn-link-theme-A">
          <p>Quais acordes tu dominas?</p>
        </a>
        <a href="#/pormusica" class="btn-link-theme btn-link-theme-B">
          <p>Quais músicas tu sabes tocar?</p>
        </a>
        <a href="#/porsequencia" class="btn-link-theme btn-link-theme-C">
          <p>Conheces essas sequencia de acordes?</p>
        </a>
      </div>
    </div>
  </div>
</div>
