<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 viewWindow-panel">
      <div class="logo-container">
        <img src="assets/img/logo.png" alt="Decifra-me" width="100%">
      </div>
    </div>
    <div class="col-sm-6 viewWindow-panel viewWindow-panel-home-menu">
      <div class="home-menu">
        <a href="#" class="btn btn-primary">Aponte os acordes que você já domina</a>
        <a href="#" class="btn btn-primary">Procure por músicas que você já sabe tocar</a>
        <a href="#" class="btn btn-primary">Já conhece uma sequencia de acorder?</a>
      </div>
    </div>
  </div>
</div>
