<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 viewWindow-panel viewWindow-panel-E">
      <div class="viewWindow-panel-main-container">
        <img src="assets/img/logo.png" alt="Decifra-me" width="100%">
      </div>
    </div>
    <div class="col-sm-6 viewWindow-panel viewWindow-subpanel viewWindow-panel-F text-center">

      <div class="vertical-panel-container">
        <div class="vertical-panel-wrap">
          <div class="vertical-panel vertical-panel-A">
            <a href="#/poracordes" class="btn btn-link btn-lg">Quais acordes tu dominas?</a>
          </div>
        </div>
      </div>
      <div class="vertical-panel-container">
        <div class="vertical-panel-wrap">
          <div class="vertical-panel vertical-panel-B">
            <a href="#/pormusica" class="btn btn-link btn-lg">Quais músicas tu sabes tocar?</a>
          </div>
        </div>
      </div>
      <div class="vertical-panel-container">
        <div class="vertical-panel-wrap">
          <div class="vertical-panel vertical-panel-C">
            <a href="#/porsequencia" class="btn btn-link btn-lg">Conheces essas sequencia de acordes?</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
