<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 viewWindow-panel viewWindow-panel-B">
      <div class="viewWindow-panel-container">
        <form name="searchForm" ng-submit="searchForm.$valid && pesquisarPorTitulo()" novalidate>
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" placeholder="Pesquisar por..." required>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
        </form>
        <br>
        <a href="#/" class="btn btn-link"><span class="glyphicon glyphicon-menu-left"></span> Voltar</a>
      </div>
    </div>
    <div class="col-sm-9 viewWindow-panel viewWindow-panel-D">
      <div class="viewWindow-panel-container">
        <p ng-repeat="musica in musicas">
          <a ng-href="{{musica.link}}" target="_blank">{{musica.titulo}}
          <br>
          <small>{{musica.artista}}</small>
          </a>
        </p>
        <p ng-show="isSearching" class="text-center"><span class="glyphicon glyphicon-refresh animated infinite rotateIn"></span></p>
      </div>
    </div>
  </div>
</div>
