<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 viewWindow-panel viewWindow-panel-E">
      <div class="viewWindow-panel-container">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" placeholder="Pesquisar por...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
        <a href="#/" class="btn btn-link"><span class="glyphicon glyphicon-menu-left"></span> Voltar</a>
      </div>
    </div>
    <div class="col-sm-6 viewWindow-panel viewWindow-panel-C">
      <div class="viewWindow-panel-container">
        Aqui ficarão os resultados encontrados.
      </div>
    </div>
  </div>
</div>
