<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 viewWindow-panel viewWindow-panel-F">
      <div class="viewWindow-panel-container">
        <p>Aqui ficarão as sequencias de acordes pra escolher.</p>
        <a href="#/" class="btn btn-link"><span class="glyphicon glyphicon-menu-left"></span> Voltar</a>
      </div>
    </div>
    <div class="col-sm-6 viewWindow-panel viewWindow-panel-C">
      <div class="viewWindow-panel-container">
        Aqui ficarão os resultados encontrados.
      </div>
    </div>
  </div>
</div>
